
EXE/

dist/

dist_old/

logs/

modelos/

build/

EXCELS_zurich_DCM/

excels_borrar/

RESULTADOS_EXCEL/

Pollo_Ricardo/

my_dir_optimizacion/

modelos*


*.cal
*.hdf
*.csv
*.h5
*.mat
*.xlsx

hdf_test/

__pycache__



